/*

	Swinteract custom CSS file

*/

body {
	cursor: none;
}

.fp-enabled{

	background-color: transparent;

}

h2{
	color: #CAFCD8;
}

h3{

	color: #CAFCD8;

}

#fp-nav ul li a span, .fp-slidesNav ul li a span {

	background: white;

}

.section{
	font-family: 'Open Sans';
	text-align:center;
/* 	color: #fcfcfc; */
}

.dashboard-circle {
	position: relative;
/* 	width: 300px; */
/* 	margin: 100px; */
}


.overlay {
	top:50%;
	vertical-align: middle;
	text-align:center;
	display:flex;
}

#CO2Chart{

	height: 40%;
}

#FuelChart{

	margin: 5%;
	height: 40%;
}

#speed{

	display: none;

}

#Co2_display{

	display: none;

}

.dashboard-left{

	display: inline-block;
	padding: 5%;

}

.dashboard-right{

	display: inline-block;
	padding: 5%;
}

#map {
	height: 75%;
}

#map-dashboard {
	height: 25%;
	color: white;
}

.dashboard-element {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}
