/*

	Swinteract custom CSS file

*/

.section{
	font-family: 'Open Sans';
	text-align:center;
	color: #fcfcfc;
}

.dashboard-circle {
	position: relative;
	width: 300px;
	margin: 100px;
}

.overlay {
	top:50%;
	vertical-align: middle;
	text-align:center;

	display:flex;
}

#CO2Chart{

	padding: 5%;
	height: 60%;
}

#speed{

	display: none;

}

#Co2_display{

	display: none;

}

.dashboard-left{

	display: inline-block;
	padding: 5%;

}

.dashboard-right{

	display: inline-block;
	padding: 5%;
}

#map {
	height: 75%;
	padding: 20px;
}

#map-dashboard {
	height: 25%;
}

.map-dashboard-element {
	display: inline-block;
	margin-left: 100px;
	margin-right: 100px;
}
